body {
    font-family: Arial, sans-serif;
    background-color: #AFAFAF;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: #007BFF;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}
input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.event-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    transition: transform 0.3s;
}

.event-card:hover {
    transform: scale(1.05);
}

.event-card h2 {
    color: #007BFF;
    margin: 0 0 10px;
}

.event-card p {
    margin: 5px 0;
}
a {
    text-decoration: none;
    color: white;
    padding: 10px 20px; 
    background-color: #007BFF; 
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
}
.cen {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #007BFF;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}